.main{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--background-color);
    padding: 1rem
  }

.list{
    height: 60%;
}

.listItem{
    height: 100px;
}

#cancleButton {
  color: #6DC570 !important;
}

#submitButton {
  background-color: #6DC570 !important;
}

.buttonArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}