@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.main{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    /* border: 1px solid #000; */
    border-radius: 10px;
    padding: 1rem
}

.content{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 65%;
    flex-direction: row;
}

.left{
    /* border: 1px solid #000; */
    border-radius: 20px;
    padding: 1rem 0.5rem;
    width: 60%;
}
.contentStyle{
    padding: 1rem 0.5rem;
    color: #fff;
    text-align: center;
    background: #79FFD7;
    border-radius: 20px;
    /* width: 35%; */
    margin-left: 1vw;
}

.top{
    height: 29%;
    width: 100%;
    /* border: 1px solid #000; */
    border-radius: 10px;
    line-height: 160px;
}

.title{
    font-family: 'Poetsen One', cursive;
    text-align: center; /* 横向居中 */
    color: green; /* 颜色为绿色 */
    font-weight: bold; /* 空心效果，可以使用 font-weight: bold 或 font-weight: 900 */
    text-decoration: none;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}