.backgroundBox {
  /* height: 70px; */
  height: 3rem;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.menuItem {
  border-radius: 3px;
  padding: 0.5rem;
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkItem {
  width: 100%;
}

.rightBox {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  font-size: small;
}

.imageBox {
  height: 64px;
  width: auto;
}

.menuItem .menuItemButton {
  width: 100%;
  background-color: white !important;
  color: black;
}

.menuItem .menuItemButton:hover {
  width: 100%;
  background-color: #16A609 !important;
  color: white;
}

.menuItem .selectedMenuItemButton {
  width: 100%;
  background-color: #16A609 !important;
  color: white;
}

.menuItem .selectedMenuItemButton:hover {
  width: 100%;
  background-color: #16A609 !important;
  color: white;
}