.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  border-radius: 20px;
  width: 60vw;
  height: 60vh;
  background-color: white;
  position: relative;
  display: flex;
  padding-left: 8vw;
  padding-right: 8vw;
}

.rectangle {
  height: 75vh;
  width: 50%;
  background-color: #ACE589;
  margin-top: -7.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangleContent {
  height: 85%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.loginFont {
  font-size: 50px;
  color: white;
}

.inputArea {
  width: 100%;
}

.rectangleContent .inputArea .inputStyle {
  background-color: transparent;
  background-color: transparent;
  color: black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid;
  border-color: white;
  border-radius: 0px;
  width: 100%;
}

.rectangleContent .inputArea .inputStyle:hover {
  background-color: transparent;
  background-color: transparent;
  color: black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid;
  border-color: white;
  border-radius: 0px;
}

.rectangleContent .inputArea .inputStyle:focus {
  background-color: transparent;
  background-color: transparent;
  color: black;
  box-shadow: 0 0 0 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid;
  border-color: white;
  border-radius: 0px;
}

.rectangleContent .inputArea .inputStyle:focus-within {
  background-color: transparent;
  background-color: transparent;
  color: black;
  box-shadow: 0 0 0 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid;
  border-color: white;
  border-radius: 0px;
}

.rectangleContent .buttonStyle {
  border-radius: 0px;
  width: 100%;
  color: #6DC570 !important;
  border-color: #6DC570 !important;
}

.rectangleContent .buttonStyle:hover {
  border-radius: 0px;
  width: 100%;
  color: #6DC570 !important;
  border-color: #6DC570 !important;
}

.welcome {
  font-size: 30px;
}

.tips {
  color: #9E9D9D;
}

.welcomeArea {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerArea {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@keyframes toRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes toLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes toLeftFirst {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes toLeftSecond {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes toRightFirst {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes toRightSecond {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}