.input{
    width: 50%;
    flex: content;
}

.buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.main{
    padding-left: 32dp;
    padding-right: 32dp;
    height: 89vh;
}