.main{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 1rem
  }

.list{
  height: 60%;
}

.input{
  margin-bottom: 10px;
}

.create{
  width: 100%;
  height: 100%;
  font-size: 56;    
}