.main{
    width: 98vw;
    height: 85vh;
    border-radius: 10px;
    padding: 1vw
  }

.list{
  height: 850px;
}

.input{
  margin-bottom: 10px;
}

.create{
  width: 240;
  height: 400;
  font-size: 56;    
}