.backgroundCard {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titleStyle {
  height: 10%;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePosition {
  width: 80%;
  height: 60%;
}

.contentArea {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.leftArea {
  display: flex;
  flex-direction: column;
}

.titleArea {
  display: flex;
  flex-direction: row;
}

.basicInfoArea {
  background-color: #EBEBEB;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  width: 100%;
  height: auto;
}

.buttonArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#applyButton {
  background-color: #6DC570 !important;
}

.messageBox {
  width: 100%;
  height: 90%;
  border: 1px solid #16A609;
  padding: 2rem;
  font-size: large;
  overflow: auto;
  word-wrap: break-word;
}