.background {
  height: 100vh;
  width: 100vw;
  /* background-color: bisque; */
  background: linear-gradient(var(--rotate-deg), var(--bg-gradient-green) 0%, var(--bg-gradient-white) 12%, var(--bg-gradient-white) 88%, var(--bg-gradient-green) 100%);
  animation: rotate 5s linear infinite;
  transform: center;
}

.classss {
  font-size: 60px;
  font-weight: bold;
  color: var(--text-color);
}