.backgroundCard {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleStyle {
  height: 10%;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePosition {
  width: 80%;
  height: 60%;
}

.contentArea {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.leftArea {
  display: flex;
  flex-direction: column;
}

.titleArea {
  display: flex;
  flex-direction: row;
}

#applyButton {
  background-color: #6DC570 !important;
}