#tabTitle:hover {
  color: #16A609;
}

#tabTitle:focus {
  color: #16A609;
}

#tabTitle {
  color: #8FCA6A;
}

.backgoundCard {
  height: 89vh;
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--background-color);
}